*{
	margin: 0;
	padding: 0;
	outline: none;
	transition: all .33s;
}
body{
	background-color: #f8f8f8;
}
h1{
	position: fixed;
    margin-top: 250px;
    margin-left: -140px;
    transform: rotate(-90deg);
    font-size: 100px;
    font-weight: 100;
    cursor: default;
    color: rgba(128, 128, 128, 0.3);
    z-index: -1;
}
h1 span {
    color: #1e90ff;
}
main{
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	background-color: inherit;
}
.post{
	width: 100%;
	margin: 30px 0px 10px -50px;
	cursor: default;
}
.post h2{
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 25px;
	font-weight: 300;
}
.post img{
	width: 100%;
	margin-bottom: -4px;
	box-shadow: 0px 2px 15px #676767;
}
aside{
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 0px;
	z-index: 1;
	box-shadow: 0px -3px 6px #cccccc;
	text-align: center;
	background-color: #f5f5f5;
}
aside h2{
	width: 100%;
	font-size: 35px;
	font-weight: 100;
	padding: 25px 0;
	color: #1e90ff;
	background-color: #f9f9f9;
}
aside input{
	margin: 30px 0px;
	border-radius: 6px;
	background-color: inherit;
}
aside #title{
	width: 35%;
	padding: 5px;
	font-size: 26px;
	border: none;
	border-bottom: 2px solid #1e90ff;
	color: #6ab2f9;
	margin-bottom: 70px;
	background-color: inherit;
	border-radius: 0;
}
aside #title::placeholder{
	color: #6ab2f9;
}
aside #title:hover, #title:focus{
	width: 90%;
}
aside #img{
	display: none;
}
aside label{
	margin-top: 100px;
	padding: 30px;
	background-color: #f3f3f3;
	box-shadow: 0px 1px 5px #d6d6d6;
	border-radius: 8px;
	color: #6ca8e3;
	cursor: pointer;
}
aside label:hover{
	box-shadow: 0px 3px 10px #d6d6d6;
}
aside #post{
	margin-top: 100px;
	padding: 20px 40px;
	width: 70%;
	font-size: 23px;
	box-shadow: 0px 4px 20px #bfbfbf;
	border: none;
	color: #6ca8e3;
	transition: .3s;
	cursor: pointer;
}
aside #post:hover{
	color: white;
	background-color: #6ab2f9;
}
aside #cancel{
	width: 70%;
	border: none;
	font-size: 23px;
	color: red;
	padding: 15px 40px;
	margin-top: 25px;
	cursor: pointer;
}
aside #cancel:hover{
	color: white;
	background-color: #ff3636;
}
p#error{
	color: white;
	background-color: #ff4949;
	font-weight: bold;
	line-height: 20px;
}
button{
	position: fixed;
	bottom: 40px;
	right: 45px;
	font-size: 40px;
	padding: 5px 17px;
	border-radius: 50%;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
	border: none;
	cursor: pointer;
	color: white;
	background-color: #1e90ff;
}
button:hover{
	background-color: #56a2ea;
}
@media (max-width: 700px){
	main{
		width: 100%;
		margin-top: -20px;
	}
	main .post{
		margin: 30px auto;
	}
	button{
		right: 10px;
		bottom: 10px;
	}
}
